.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin: 40px auto;
	font-size: 20px;

	.nav__list {
		display: grid;
		grid-auto-flow: column;
		-moz-column-gap: 30px;
		     column-gap: 30px;

		&-item {
			color: @color-orange;

			.g-link-active {
				color: #fff;
				position: relative;

				&::after {
					content: '';
					width: 75%;
					height: 1px;
					border-radius: 15px;
					background-color: #fff;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	.contacts {
		display: flex;
		flex-direction: column;
		text-align: right;
		line-height: 20px;
		color: @color-orange;
	}
}